
<div class="container col-5">
    {{#if islogin}}
    <div style="color: red;">Đăng nhập thất bại. Vui lòng thêm trường email vô thông tin cá nhân. Rồi thủ lại</div>
    {{/if}}
    <form method="POST" id="frmRegister">
        <div class="form-group input-group mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="Tên đăng nhập" id="username" type="text">
            <div id="name_error"></div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input class="form-control" placeholder="Địa chỉ email" id="email" name="email">
            <div id="mail_error"></div>
        </div> <!-- form-group// -->
    
        <div class="form-group input-group">
            <div class="input-group">
                <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                <input placeholder="__/__/____" type="text" class="form-control" id="txtDOB" name="dob" required>
            </div>
    
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Mật khẩu" id="password" name="password" type="password">
            <div id="password_error"></div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" id="password_cf" placeholder="Xác nhận lại mật khẩu" type="password">
            <div id="password_cf_error"></div>
        </div> <!-- form-group// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Tạo tài khoản </button>
        </div> <!-- form-group// -->
        <p class="text-center mb-5">Đã có tài khoản? <a style="font-weight: 700;  text-decoration: none;"
                href="/tai-khoan/dang-nhap">Đăng nhập</a> </p>
    </form>
</div>