<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        type="text/javascript"></script>
    <!--CSS CHO đăng ký và js tự code-->

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style-register.css">
    <script src="js/style-register.js" type="text/javascript"></script>
    <script src="js/style.js"></script>

</head>

<body>

    <!-- Header -->
    <header>
        <div id="quick-contact">
            <ul>
                <li class="quick-call"><a href="tel:0345870xxx">0345.870.xxx </a></li>
                <li class="quick-email"><a href="mailto:cskh@deploy99.vn">cskh@deploy99.vn</a></li>
                <li class="quick-register"><a href="register.html"> <i class="fa fa-user-plus" aria-hidden="true"></i> Đăng
                        ký</a></li>
                <li class="quick-login"><a href="login.html"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</a>
                </li>
    
            </ul>
        </div>
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 hidden-xs">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-xs-12">
                                        <!-- Header Logo -->
                                        <div class="logo">
                                            <a title="e-commerce" href="index.html"> </a>
                                            <div class="form-group-row">&nbsp;
                                                <a href="/" rel="home">
                                                    <img src="/images/log.png" sizes="32x32" alt="thong" />
                                                    Deploy99</a>
                                            </div>
                                            &nbsp;
                                        </div>
                                        <!-- End Header Logo -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                                <input type="text" placeholder="Tìm kiếm tại đây...." name="search2">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- top cart -->
    
                        <div class="col-lg-4 col-xs-4  col-md-4 top-cart">
                            <div class="top-cart-contain">
                                <a href="shopping-cart.html">
                                    <span class=" cart-icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span class="shoppingcart-inner hidden-xs ">
                                        <span class="cart-title"> Giỏ hàng của bạn </span>
                                        {{!-- <span class="cart-total">
                                                <span id="totalItemCart">1 </span>
                                                sản phẩm</span> --}}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href="index.html">Trang Chủ </a></li>
                <li><a>Sản phẩm</a>
                    <ul class="sub-menu">
                        <ol class="type_pro"><strong class="menu">Theo loại sản phẩm</strong><br>
                            <li><a href="">Điện thoại</a></li>
                            <li><a href="">Tablet</a></li>
                            <li><a href="">Laptop</a></li>
                            <li><a href="">Phụ kiện</a></li>
                            <li><a href="">Đồng hồ</a></li>
                        </ol>
    
                        <ol class="manufacturer"><strong class="menu">Theo hãng sản xuất</strong><br>
                            <li><a href="">Apple</a></li>
                            <li><a href="">SamSung</a></li>
                            <li><a href="">Dell</a></li>
                            <li><a href="">Asus</a></li>
                            <li><a href="">Casio</a></li>
                        </ol>
                    </ul>
                </li>
                <li><a rel="nofollow" href="about.html">Giới thiệu</a></li>
                <li><a href="contact.html">Liên Hệ</a></li>
            </ul>
        </div>
    </header>
    <!-- content -->
    <div id="content">
        <div class="container">

            <form class="well form-horizontal" action=" " method="post" id="contact_form">
                <fieldset>

                    <!-- Form Name -->
                    <legend>
                        <center>
                            <h2><b>Thông tin đăng ký tài khoản</b></h2>
                        </center>
                    </legend><br>

                    <!-- Text input-->
                    <div class="col-md-12 infomation-title">
                        <h5>Thông tin cá nhân</h5>
                    </div>
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Họ tên của bạn</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" placeholder="Nhập họ tên" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- Text input option DD/MM/YYYY-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Ngày sinh</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group" style="width:200px">
                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                <select name="day" class="form-control selectpicker">
                                    <option value="">[Ngày sinh]</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                    <option value="">13</option>
                                    <option value="">14</option>
                                    <option value="">15</option>
                                    <option value="">16</option>
                                    <option value="">17</option>
                                    <option value="">18</option>
                                    <option value="">19</option>
                                    <option value="">20</option>
                                    <option value="">21</option>
                                    <option value="">22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                    <option value="">25</option>
                                    <option value="">26</option>
                                    <option value="">27</option>
                                    <option value="">28</option>
                                    <option value="">29</option>
                                    <option value="">30</option>
                                    <option value="">31</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Text input option DD/MM/YYYY-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tháng sinh</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group" style="width:200px">
                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                <select name="month" class="form-control selectpicker">
                                    <option value="">[Tháng sinh]</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Năm sinh</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group" style="width:200px">
                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                <select name="year" class="form-control selectpicker">
                                    <option value="">[Năm sinh]</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>

                                </select>
                            </div>
                        </div>
                    </div>


                    <!-- Text input -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Bạn sống tại</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select name="country" class="form-control selectpicker">
                                    <option value="">--Chọn thành phố--</option>
                                    <option>TPHCM</option>
                                    <option>Hà Nội</option>
                                    <option>Cần Thơ</option>
                                    <option>Bình Dương</option>
                                    <option>Bình Phước</option>
                                    <option>Đồng Nai</option>
                                    <option>Đà Lạt</option>
                                    <option>Đà Nẵng</option>
                                    <option>Quảng Ninh</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 infomation-title">
                        <h5>Thông tin tài khoản</h5>
                    </div>
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Tên đăng nhập</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input name="user_name" placeholder="Nhập tên đăng nhập" class="form-control"
                                    type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Mật khẩu</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px;"></i></span>
                                <input name="user_password" placeholder="Nhập mật khẩu" class="form-control"
                                    type="password">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Xác nhận mật khẩu</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px;"></i></span>
                                <input name="confirm_password" placeholder="Nhập xác nhận mật khẩu" class="form-control"
                                    type="password">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="Nhập E-Mail" class="form-control" type="text">
                            </div>
                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="col-md-12 infomation-title">
                        <h5>Mã kiểm tra</h5>
                        <img src="https://www.tsohost.com/assets/uploads/blog/capcha.jpeg">

                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label">Nhập mã kiểm tra</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input name="reCaptcha" placeholder="Nhập mã kiểm tra" class="form-control"
                                    type="password">
                            </div>
                        </div>
                    </div>





                    <!-- Select Basic -->

                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Success <i
                            class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-6"><br>
                            <button type="submit" class="btn btn-warning" id="btn-res">&nbsp&nbsp&nbsp&nbspĐăng ký <span
                                    class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp</button>
                            <button class="btn btn-danger" id="return-res"
                                onclick="window.location.href='register.html'">Huỷ đăng ký</button>
                            <button class="btn btn-primary" id="return-log"
                                onclick="window.location.href='login.html'">Đăng nhập</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div><!-- /.container -->

    </div>
    <!--Footer-->
    <div id="footer" class="color-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <h5 class="ft">Về chúng tôi</h4>
                            <img class="img-line"
                                src="https://devteam.mobi/wp-content/uploads/2019/03/ft_icon_line.svg">
                            <div class="ft-content">
                                Deploy99 là cửa hàng chuyên bán các sản phẩm về công nghệ hàng đầu Việt Nam
                                <div class="email">
                                    <i class="fa fa-envelope" style="color: #e60000;"></i>
                                    <a href="#">cskh@deploy99.com</a>
                                </div>
                                <div class="phone">
                                    <i class=" fa fa-phone" style="color: #e60000;"></i>
                                    Deploy99: <a ref=" nofollow" href="tel:0345870xxx ">0345.870.xxx</a>
                                </div>
                                <div class=" address">
                                    <i class="fa fa-map-marker" style="color: #e60000;"></i>
                                    <span> Ấp 7, An Linh,Phú Giáo,Bình Dương ,Việt Nam</span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <h5 class="ft">Thông tin </h5>
                        <img class="img-line" src="https://devteam.mobi/wp-content/uploads/2019/03/ft_icon_line.svg">
                        <div>
                            <ul class="ft-content">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Trang chủ</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Sản phẩm</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Liên hệ</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Giới thiệu</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Chế độ bảo hành</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Chính sách bán hàng</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i> Trợ giúp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div>
                        <h5 class="ft">Đăng ký nhận tin</h4>
                            <img class="img-line"
                                src="https://devteam.mobi/wp-content/uploads/2019/03/ft_icon_line.svg">
                            <div class="ft-content">
                                Vui lòng nhập địa chỉ email để nhận bản tin khuyến mại hàng tuần của chúng tôi.
                            </div>
                            <form action="#" method="post">
                                <input class="dk" type="email" name="your_email" placeholder="   Nhập email tại đây">
                                <button class="btnRegister" type="submit">Đăng ký nhận tin </button>

                            </form>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- #footer -->
    <div class="copyright">
        <div class="container">
            <p class="ft-ds">Thiết kế bởi <i class="fa fa-heart" style="color: #e60000;" aria-hidden="true"></i>
                Deploy99
            </p>


        </div> <!-- .container -->
    </div> <!-- .copyright -->
    <a id="back-to-top" href="#" class="btn btn-info btn-md back-to-top" role="button"><i class="fa fa-eject"></i></a>

</body>

</html>