<div id="content">
    <div class="about-page">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">

                <h3>Xin chào khách hàng đã đến với shop bán hàng <span class="text_color">Deploy99</span></h3>
                <p>Đến với deploy99 Shop, bạn sẽ có được những sản phẩm thật hài lòng.Giá thành ưu đãi và bảo hành
                    uy tín,
                    lượng rất vừa lòng khách

                </p>
                <ul>
                    <li><i class="fa fa-arrow-right"></i>&nbsp; <a
                            href="http://localhost:8000/shopping/iphone-x">Iphone</a>
                    </li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="http://localhost:8000/shopping/phu-kien">Phụ
                            kiện</a></li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp; <a
                            href="http://localhost:8000/shopping/apple-watch">Apple
                            Watch</a>
                    </li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp; <a href="http://localhost:8000/shopping/imac">Imac</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://nordiccoder.com/app/uploads/2019/08/26-nodejs.png" alt="Los Angeles"
                                width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                            <img src="https://149351115.v2.pressablecdn.com/wp-content/uploads/2018/01/BrutalLifeCycleJavascript-1200x675.png"
                                alt="Chicago" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.keonhanh.com/wp-content/uploads/2018/11/cau-lac-bo-bong-da-becamex-binh-duong.jpg"
                                alt="New York" width="1100" height="500">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-team">

        <div class="container">
            <div class="page-header">
                <h5>ĐỘI NGŨ CỦA CHÚNG TÔI</h5>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/thong.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a href="#">Nguyễn Văn Thông </a> </h5>
                                    <p class="subtitle">Developer Deploy99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/duy.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a href="#">Trần Hoàng Duy</a> </h5>
                                    <p class="subtitle">Developer Deploy99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/hai.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a href="#">Trần Dương Hải</a></h5>
                                    <p class="subtitle"> Sale Deploy99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
    <button type="button" class="btn btn-danger ml-2 mb-5"  id="return"
        onclick="window.location.href='/'"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Trở về</button>
</div>