.usermanage{
    height: 250px;
    background-color: #E6E6E6;
    border: solid 1px #F2F2F2;
    border-radius: 2%;
    
}
.usermanage a{
    font-size: 15px;
}
.info-user{
    height: auto;
    background-color: #A9D0F5;
    border: solid 1px #F2F2F2;
}
.u-m-ul {
      list-style-type: none;
      margin: 5%;
      
}
.u-m-ul :hover{
    color: blue;
}
.u-m-ul a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(71, 69, 69);
}
.u-m a,li {
   
    height: 40px;
    font-size: 17px;
    margin-left: 10%;
    
}
.hr-user{
    width: 95%;
    margin: 5% 2%;
}
#u-h4{
    margin-bottom: 5%;
    text-align: center;
    padding-top: 5%;
    color: green;
}
.radio-inline{
    margin-right: 5%;
}
#Ubtn{
    margin-left: 43%;
}

.form-control{
    width: 350px;  
}
.col-sm-3.col-form-label{
    margin-left: 10%;
    text-align: right;
}
.col-sm-9.col-md-7{
    margin-left: 1%;
}
.col-md-12.col-xs-12.col-sm-12{
    margin: 6%;
}